@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px;          phone
600 - 900px;        tablet portrait
900 - 1430px;       tablet landscape
1430 - 1800px;      normal styles

breakpoint argument choices:
- phone
- tab-port-small
- tab-port-big
- tab-land-small
- tab-land-medium
- tab-land-big
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == tab-port-small {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-port-big {
        @media only screen and (max-width: 63.75em) { @content }; // 1020px
    }
    
    @if $breakpoint == tab-land-small {
        @media only screen and (max-width: 72.5em) { @content }; // 1160px
    }

    @if $breakpoint == tab-land-medium {
        @media only screen and (max-width: 81.875em) { @content }; // 1310px
    }

    @if $breakpoint == tab-land-big {
        @media only screen and (max-width: 90.625em) { @content }; // 1450px
    }

}